<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Neis.ProductKeyManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Neis.ProductKeyManager.Properties.Settings>
            <setting name="DataFile" serializeAs="String">
                <value>keys.dat</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>keymanager.log</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Verbose-0</value>
            </setting>
            <setting name="LogFileMaxSizeMB" serializeAs="String">
                <value>25</value>
            </setting>
        </Neis.ProductKeyManager.Properties.Settings>
    </applicationSettings>
</configuration>
